@font-face {
  font-family: roboto;
  src: url(../resources/roboto-regular-webfont.woff2);
}

@font-face {
  font-family: roboto-bold;
  src: url(../resources/roboto-bold-webfont.woff2);
}

* {
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;  
}

#sketch_board {
  border: none;
  box-sizing: content-box;
  font-size: 0;
  padding: 0;
  width: 500px;
  height: 500px;  
  text-align: center;  
}

@media (max-width: 540px) { 
  #sketch_board {
    width: 320px;
    height: 320px;
  }
}

